*{
  box-sizing: border-box;
}
.image-container {
  overflow: hidden;
  height: 16rem;
  background-color: rgb(255, 255, 255);
  width: auto;
}

.image-item {
  object-fit: contain;
  height: 100%;
  width: 100%;
}