{% extends 'base.html' %}

{% load static %}

{% block base %}

<center>
  <div style="width: 50rem; height: 5rem"></div>
  <div style="width: 50rem; height: 8rem">
    <h1 class="fuente" style="color: #d2d7da"><b>Avisos</b></h1>
  </div>
</center>

{% for lista in key %}
<center>
  <div class="card mb-3" style="width: 50rem">
    <center>
      <div class="card mb-3" style="width: 50rem">
        <h3
          class="card-header"
          style="
            height: 3rem;
            background: rgba(0, 0, 0, 0.5);
            color: #d2d7da;
          "
        >
          Publicación
        </h3>
    </center>
        <div>
          <img
            src="{% static lista.url %}"
            class="image-item"
            height="300"
          />
        </div>
        <div>
          <h4><button>{{ lista.descripcion }}</button></h4>
        </div>
      </div>
</center>
{% endfor %}

{% endblock base %}
