{% extends 'base.html' %}
{% block base %}
{% load static %}
{% with iniciativa_folder="iniciativas/"|add:iniciativa.usuario|add:"/" %}

<main>
	<script src="{% static 'molde/js/slider.js' %}"></script>
	<div class="iniciativa-img">
		<img src="{% static iniciativa_folder|add:iniciativa.usuario|add:'.jpg' %}">
	</div>
	<div class="iniciativa-title">
		<h4><a href="https://www.instagram.com/{{ iniciativa.usuario }}/" target="_blank">@{{ iniciativa.usuario }}</a></h4>
	</div>
	<div class="iniciativa-descripcion">
		<p>{{ iniciativa.biografia }}</p>
	</div>

	<div class="recientes">
		<h2>Publicaciones más recientes</h2>
		<div class="d-flex flex-wrap justify-content-around">
{% for fecha, post in iniciativa.posts.items %}
	{% with post_folder=iniciativa_folder|add:fecha|add:"/" %}
			<div class="card mb-3 m-2" style="width: 650px">
				<div class="card mb-3">
					<h3
						class="card-header"
						style="background: rgba(0, 0, 0, 0.5); color: #d2d7da"
						>
						Publicación
					</h3>

						<div
							id="a{{ fecha }}"
							class="carousel slide"
							data-bs-ride="false">
							<div class="carousel-inner">
	{% for media in post.media %}
		{% with media_path=post_folder|add:media %}
		{% if forloop.first %}
									<div class="carousel-item active">
		{% else %}
									<div class="carousel-item">
		{% endif %}
										<img src="{% static media_path %}" height="400" />
									</div>
		{% endwith %}
	{% endfor %}
							</div>
							<button
								class="carousel-control-prev"
								type="button"
								data-bs-target="#a{{ fecha }}"
								data-bs-slide="prev"
								style="background-color: black">
								<span
									class="carousel-control-prev-icon"
									aria-hidden="true"
									></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button
								class="carousel-control-next"
								type="button"
								data-bs-target="#a{{ fecha }}"
								data-bs-slide="next"
								style="background-color: black">
								<span
									class="carousel-control-next-icon"
									aria-hidden="true"
									></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
						<div class="card-body" style="background: rgba(0, 0, 0, 0.5)">
							<button>{{ post.descripcion }}</button>
						</div>
				</div>
			</div>
	{% endwith %}
{% endfor %}
		</div>
	</div>
</main>

{% endwith %}
{% endblock base %}
