{% extends 'base.html' %}

{% load static %}

{% block base %}

<center>
  <div style="width: 50rem; height: 5rem;"></div>
  <div style="width: 50rem; height: 8rem;">
    <h1 class="fuente" style="color: #d2d7da">
      <b>Subida de Avisos</b>
    </h1>
  </div>
</center>
  <div class="mover">
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
          {{ imagen.as_p }}
          <center>
          <button type="submit">Enviar</button>
          </center>
    </form>
  </div>
<br>
<br>

{% endblock base %}

